*{
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}

.edit-mode{
    color: 'grey'
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#Heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

#Heading  .head{
  font-size: 42px;
}

#Heading i{
    color:red;
    font-size: 58px;
    margin-left: -20px;
}


.EnterItem{
    display: flex;
    flex-direction: column;
    width: 400px;
}


 .input{
  margin-bottom: 16px;
  color: rgb(22, 17, 17);
  font-size: 18px;
  background-color: rgb(212, 211, 211);
  height: 32px;
  border: 0;
  border-radius: 8px;
  text-indent: 4px;
  margin-left: 0px;
  width: 100%;
}

.btn{
    width: 30%;
    height: 32px;
    background-color: rgb(27, 26, 26);
    color: rgb(240, 235, 235);
    border: 0;
    background-color: black;
    border-radius: 8px;

}

.btn i{
    text-indent: -30px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Overpass', sans-serif;
}


#item-list{
    display: flex;
    justify-self: center;
}

#item-list li{
    margin-left:-40px ;
}

.items li{
    margin-bottom: 16px;
    border: solid rgb(70, 69, 69) 2px;
    border-radius: 8px;
    height: 38px;
    padding-top: 6px;
    padding-left: 6px;
    list-style-type: none;
    width: 100px;
}

#item-list{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 0px 70px ;
}



.items button{
    float: right;
    padding-right: 8px;
    background-color: transparent;
    border: none;
    color: rgb(233, 11, 11);
}



.clearAll{
    width: 400px;
    height: 32px;
    text-align: center;
    color: rgb(240, 236, 236);
    border: 0;
    border-radius: 8px;
    background-color: rgb(20, 20, 20);
}

.container .filter{
    display: flex;
    justify-content: center;
}

.filter .form-input-field {
   margin: 10px;
   height: 30px;
   width: 400px;
   border: none;
   border-bottom: 4px solid rgb(240, 240, 240);
   text-indent: 4px;
   background-color:transparent; 

}

.filter.form-input-field{
    color:black;

}








